<!DOCTYPE html>
<html>
    <head>
        <meta name="keywords" content="Professional Organizers, Svelte Professional Organizers, Svelte Professional Organizers Lagos Nigeria, Organizers, Moving to a new house, Boxing and Unboxing, Arranging wardrobe, Organize wardrobe, Oragnizers Lagos Nigeria, Professional Organizers Lagos">
        <meta name="description" content="Professional Organizers, Svelte Professional Organizers, Svelte Professional Organizers Lagos Nigeria, Organizers, Moving to a new house, Boxing and Unboxing, Arranging wardrobe, Organize wardrobe, Oragnizers Lagos Nigeria, Professional Organizers Lagos">
        <meta name="viewport" content="width=device-width, initial-scale=0.8, shrink-to-fit=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/custom.css" type="text/css">
        <link rel="shortcut icon" href="../src/download.jpg" type="image/x-icon">
    </head>
    <body>

        <div class="col-12 col-md-11 mx-auto">
            <div class="row white-bg rounded-bottom ">
                <div class="col-12 pt-3 bord-shad pb-2">
                    <ul class="d-flex justify-content-between">
                        <li class="fs-1_2"><a href="#" class="black-text-color">Svelte Professional Organizers</a></li>
                        <ul>
                            <li class="fs-1"><a href="#">Portfolio | </a></li>
                            <li class="mx-2"><a href="#"><i class="fas fa-phone"></i> 07017690460</a></li>
                            <li class="mx-2"><a href="#"><i class="fas fa-envelope black-text-color"></i></a></li>
                            <li class="mx-2 "><a href="#"><i class="fab fa-instagram ig"></i></a></li>
                            <li class="mx-2"><a href="#"><i class="fab fa-twitter twitter"></i></a></li>
                            
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="white-bg">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img src="../src/download.jpg" alt="" class="img-fluid img bottom pos-rel ">
                    
                    </div>
                    <div class="col-12 text-center">
                        
                    </div>
                    <div class="col-11 col-md-8 mx-auto py-3 border-top border-bottom">
                        <p class="mb-0 text-center">
                            <strong>Svelte Professional Organizers </strong> specialize in tidying up, space planning and adequate utilization, organizing, arranging and improving productivity to your residential and commercial spaces in the most elegant manner possible. 

                            We provide custom organization solutions for your homes, office spaces, stores etc. 
                        </p>
                           <p class="text-center"> <strong>WE PUT IN ORDER THAT WHICH YOU CLUTTER</strong> </p>
                            <!-- <p>Services Provided </p>
                            <ul>
                                <li>Closet Organization</li>
                                <li>Custom Cabinets</li>
                                <li>Custom Walk-in Closets</li>
                                <li>Decluttering</li>
                                <li>Downsizing</li>
                                <li>Professional Organizing</li>
                                <li>Space Planning</li>
                                <li>Sports Equipment Storage</li>
                                <li>Tidy up</li>
                                <li>Improve productivity</li>
                            </ul> -->
                          
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="my-2 fs-1_5 col-12 d-flex justify-content-center">Testimonals</div>
                    <div class="col-12">
                        <!-- This will also be a slider-->
                        <div class="row offwhite-bg my-3 py-4">
                            <div class="col-5 d-flex justify-content-end"> 
                                <img src="../src/img_avatar2.png" alt="" class="img-fluid img bottom bord-shad-S">
                            </div>
                            <div class="col-5">
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam, laborum accusantium enim, qui corporis distinctio suscipit fuga totam quo at dolor ipsam nihil quasi nesciunt ea dolores aspernatur voluptatibus commodi.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 mb-5 px-3">
                    <div class="my-2 fs-1_5 col-12 d-flex justify-content-center">Portfolio</div>
                    <p class="col-12 mb-2">Filter by</p>
                    <!-- <div class="col-4 col-md-3 col-lg-2">
                        <select class="form-control ">
                            <option>-- Project --</option>
                            <option>Project O</option>
                            <option>Project D</option>
                            <option>Project M</option>
                            <option>Project R</option>
                            <option>Project OO</option>
                        </select>
                    </div> -->
                    <div class="col-7 col-sm-4 col-md-4 col-lg-3">
                        <select class="form-control">
                            <option>-- Project Type --</option>
                            <option>Walk In Closet</option>
                            <option>Closet</option>
                            <option>Bedroom</option>
                            <option>kitchen </option>
                        </select>
                    </div>
                </div>
                <div class="row mt-3 px-3">
                    <div class="col-6 col-md-4 col-xl-3 mb-2">
                        <!-- Do like a mini slide for before and after iamges-->
                        <img src="../src/bag.jpg" alt="Project O" class="img-fluid port_img custom-bord-top">
                        <p class="mt-2 text-center">Project O </p>
                        <p class="text-center"><i class="fas fa-door-open blue-text-color"></i> Walk In Closet</p>
                        
                    </div>
                    <div class="col-6 col-md-4 col-xl-3 mb-2">
                        <img src="../src/bag.jpg" alt="Project O" class="img-fluid port_img custom-bord-top">
                        <p class="mt-2 text-center">Project O </p>
                        <p class="text-center"><i class="fas fa-tshirt blue-text-color"></i> Closet</p>
                    </div>
                    <div class="col-6 col-md-4 col-xl-3 mb-2">
                        <img src="../src/bag.jpg" alt="Project O" class="img-fluid port_img custom-bord-top">
                        <p class="mt-2 text-center">Project M </p>
                        <p class="text-center"> <i class="fas fa-box-open blue-text-color"></i> Unboxing</p>
                        
                    </div>
                    <div class="col-6 col-md-4 col-xl-3 mb-2">
                        <img src="../src/bag.jpg" alt="Project O" class="img-fluid port_img custom-bord-top">
                        <p class="mt-2 text-center">Project AA</p>
                        <p class="text-center"><i class="fas fa-bed blue-text-color"></i> Bedroom</p>
                    
                    </div>
                
                </div>
                <div class="col-12 d-flex justify-content-center py-5">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination border-0">
                            <li class="page-item border-0"><a class="page-link border-0" href="#">Previous</a></li>
                            <li class="page-item border-0"><a class="page-link border-0" href="#">1</a></li>
                            <li class="page-item border-0"><a class="page-link border-0" href="#">2</a></li>
                            <li class="page-item border-0"><a class="page-link border-0" href="#">3</a></li>
                            <li class="page-item border-0"><a class="page-link border-0" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="footer border-top col-12 p-4 d-flex justify-content-md-center">
            <a href="#" class="pr-1"> Svelte Professional Organizers All Rights Reserved. </a> 
            <a href="#" class="border-left pl-1"> Terms & Conditions </a> 
        </div>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="../js/app.js"></script>
    </body>
</html>
